body {
    background-color: #6E6E6E;
    color: whitesmoke;
}

.background-lightgreen {
    background-color: #bcfd4c6e;
}

.nav-link {
    font-size: x-large;
}

.navbar-light .navbar-nav .nav-link {
    color: #BCFD4C;
}

.navbar-light .navbar-nav .nav-link.active {
   color: #BCFD4C;
}

hr {
    color: white;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #BCFD4C;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #6E6E6E;
}

.dark-bg {
    background-color: #6E6E6E;
}

.main-bg {
    background-color: #6E6E6E;
}

.card {
    border: none;
    background-color: transparent;
}

.card-body {
    border-radius: 15px;
    color:black;
}

.card-text:last-child {
    margin-bottom: 0;
    font-size: x-large;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: whitesmoke;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #6E6E6E;
    color: whitesmoke;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #6E6E6E;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover,
.page-link {
    color: black;
}

.post-name {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: whitesmoke;
}

.btn-signup {
    background-color: #BCFD4C;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #BCFD4C;
}

.link {
    color: #BCFD4C;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #6E6E6E;
    text-decoration: underline;
}

.text-color {
    color: #BCFD4C;
}

.text-secondary {
    color: whitesmoke!important;
}

.btn-success {
    background-color: #BCFD4C;
    color: black;
}

.btn-success:hover {
    background-color: #BCFD4C;
}

.btn-outline-primary {
    color: #BCFD4C;
    border-color: #BCFD4C;
}

.btn-outline-primary:hover {
    background-color: #BCFD4C;
    color: black;
}

.btn-delete {
    background-color: red;
}

.btn-edit {
    background-color: #BCFD4C;
    color: black;
}