{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

{% if messages %}
    {% for message in messages %}
    <div class="container">
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2 alert alert-success" role="alert">
            {{ message }}
          </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

<div col-12>
    <div class="d-flex justify-content-center">
        <form action='' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
    

{% endblock content %}